@model CSharpChallenge.Models.ProblemModel

<div>
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <div>
        @if (Model.Difficulty.Trim() == "EASY")
        {
            <span style="color: green">@Html.DisplayFor(model => model.Difficulty)</span>
        }
        else if (Model.Difficulty.Trim() == "MEDIUM")
        {
            <span style="color: orange">@Html.DisplayFor(model => model.Difficulty)</span>
        }
        else if (Model.Difficulty.Trim() == "HARD")
        {
            <span style="color: red">@Html.DisplayFor(model => model.Difficulty)</span>
        }
        else
        {
            @Html.DisplayFor(model => model.Difficulty)
        }
    </div>
    <div>
        @Html.Raw(Model.Description)
    </div>
    <hr />
    <h6>Examples:</h6>
    <div class="row">
        <div class="col-md-6">
            @Html.Raw(Model.ExampleTestCase)
        </div>
        <div class="col-md-6">
            @Html.Raw(Model.ExampleTestCaseSolution)
        </div>
    </div>
</div>


@if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
{
    <hr />
    <form asp-action="SubmitSolution" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Submit your solution (.cs file):</label>
            <input type="file" name="file" accept=".cs" class="form-control" />
        </div>
        <input type="hidden" name="problemId" value="@Model.ProblemID" />
        <div class="form-group">
            <input type="submit" value="Submit Solution" class="btn btn-primary" />
        </div>
    </form>
}