@model IEnumerable<CSharpChallenge.Models.ProblemModelWithCheckmark>

<h4>Problems:</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.Difficulty.Trim() == "EASY")
                {
                    <span style="color: green">@Html.DisplayFor(modelItem => item.Difficulty)</span>
                }
                else if (item.Difficulty.Trim() == "MEDIUM")
                {
                    <span style="color: orange">@Html.DisplayFor(modelItem => item.Difficulty)</span>
                }
                else if (item.Difficulty.Trim() == "HARD")
                {
                    <span style="color: red">@Html.DisplayFor(modelItem => item.Difficulty)</span>
                }else{
                    @Html.DisplayFor(modelItem => item.Difficulty)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                    @Html.ActionLink("Details", "Details", new { problemID = item.ProblemID })
            </td>
        </tr>
}
    </tbody>
</table>
